.DS_Store
.idea
.env

app/auth.json
app/dumps/*
app/logs/*
app/vendor/*
app/web/.htaccess
app/web/advanced-cache.php
app/web/cache
app/web/ewww
app/web/license.txt
app/web/plugins/*
app/web/readme.html
app/web/themes/*
app/web/uploads
app/web/w3tc-config
app/web/wflogs
app/web/*.md

app/wp/*

backups

!app/wp/.gitkeep
!app/web/plugins/bari*
!app/web/themes/theme

**/*/dist

config/ssl/*

node_modules

wp-cli.yml