<!-- wp:template-part {"slug":"header","theme":"theme"} /-->

<!-- wp:uagb/container {"block_id":"0ef4adbe","directionDesktop":"row","variationSelected":true,"isBlockRootParent":true} -->
<div class="wp-block-uagb-container uagb-block-0ef4adbe alignfull uagb-is-root-container"><div class="uagb-container-inner-blocks-wrap"><!-- wp:uagb/container {"block_id":"65b10b1a","widthDesktop":50,"widthSetByUser":true} -->
	<div class="wp-block-uagb-container uagb-block-65b10b1a"><!-- wp:template-part {"slug":"sidebar","theme":"theme","area":"uncategorized"} /--></div>
	<!-- /wp:uagb/container -->

	<!-- wp:uagb/container {"block_id":"35b3169a","widthDesktop":50,"widthSetByUser":true} -->
	<div class="wp-block-uagb-container uagb-block-35b3169a"><!-- wp:post-content /--></div>
	<!-- /wp:uagb/container --></div></div>
<!-- /wp:uagb/container -->

<!-- wp:template-part {"slug":"footer","theme":"theme"} /-->